In [2]:
from google.cloud import bigquery

In [3]:
client = bigquery.Client()

c:\Users\kazek\AppData\Local\Programs\Python\Python312\Lib\site-packages\google\auth\_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [4]:
dataset_ref = client.dataset("covid19_jhu_csse", project="bigquery-public-data")

dataset = client.get_dataset(dataset_ref)

In [5]:
tables = list(client.list_tables(dataset))

for table in tables:  
    print(table.table_id)

confirmed_cases
deaths
recovered_cases
summary

In [6]:
confirmados = dataset_ref.table("confirmed_cases")
muertes = dataset_ref.table("deaths")
recuperados = dataset_ref.table("recovered_cases")
resumen = dataset_ref.table("summary")

tabla_confirmados = client.get_table(confirmados)
tabla_muertes = client.get_table(muertes)
tabla_recuperados = client.get_table(recuperados)
tabla_resumen = client.get_table(resumen)

In [9]:
tabla_resumen.schema

[SchemaField('province_state', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('country_region', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('date', 'DATE', 'NULLABLE', None, None, (), None),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('location_geom', 'GEOGRAPHY', 'NULLABLE', None, None, (), None),
 SchemaField('confirmed', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('deaths', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('recovered', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('active', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('fips', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('admin2', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('combined_key', 'STRING', 'NULLABLE', None, None, (), None)]

In [10]:
client.list_rows(tabla_confirmados, selected_fields =tabla_confirmados.schema[:5] + tabla_confirmados.schema[-3:] , max_results=5).to_dataframe()

,province_or_state,country_or_region,latitude,longitude,location_geom,_3_7_23,_3_8_23,_3_9_23
0,None,Antarctica,-71.9499,23.347,POINT(-71.9499 23.347),11,11,11
1,Diamond Princess,Canada,0.0,0.0,POINT(0.0 0.0),0,0,0
2,None,"Korea, North",40.3399,127.5101,POINT(40.3399 127.5101),1,1,1
3,None,Nauru,-0.5228,166.9315,POINT(-0.5228 166.9315),5247,5247,5247
4,Niue,New Zealand,-19.0544,-169.8672,POINT(-19.0544 -169.8672),791,791,792

In [11]:
client.list_rows(tabla_muertes, selected_fields =tabla_muertes.schema[:5] + tabla_muertes.schema[-3:] , max_results=5).to_dataframe()

,province_or_state,country_or_region,latitude,longitude,location_geom,_3_7_23,_3_8_23,_3_9_23
0,None,Antarctica,-71.9499,23.347,POINT(-71.9499 23.347),0,0,0
1,Northern Territory,Australia,-12.4634,130.8456,POINT(-12.4634 130.8456),90,90,91
2,Grand Princess,Canada,0.0,0.0,POINT(0.0 0.0),0,0,0
3,Northwest Territories,Canada,64.8255,-124.8457,POINT(64.8255 -124.8457),22,22,22
4,Prince Edward Island,Canada,46.5107,-63.4168,POINT(46.5107 -63.4168),93,93,93

In [12]:
client.list_rows(tabla_recuperados, selected_fields =tabla_recuperados.schema[:5] + tabla_recuperados.schema[-3:] , max_results=5).to_dataframe()

,province_or_state,country_or_region,latitude,longitude,location_geom,_3_7_23,_3_8_23,_3_9_23
0,None,Antarctica,-71.9499,23.347,POINT(-71.9499 23.347),0,0,0
1,Unknown,China,None,None,POINT(nan nan),0,0,0
2,None,Kiribati,-3.3704,-168.734,POINT(-3.3704 -168.734),0,0,0
3,None,"Korea, North",40.3399,127.5101,POINT(40.3399 127.5101),0,0,0
4,None,Nauru,-0.5228,166.9315,POINT(-0.5228 166.9315),0,0,0

In [18]:
client.list_rows(tabla_resumen, max_results=5, selected_fields =tabla_resumen.schema[0:3] + tabla_resumen.schema[6:10]).to_dataframe()

,province_state,country_region,date,confirmed,deaths,recovered,active
0,South Dakota,US,2020-05-15,8,0,0,8
1,South Carolina,US,2020-05-15,501,10,0,491
2,Michigan,US,2020-05-15,13,1,0,12
3,Florida,US,2020-05-15,367,40,0,327
4,Virginia,US,2020-05-15,11,0,0,11

In [83]:
query = """
    SELECT country_region, deaths
    FROM (
        SELECT *,
            ROW_NUMBER() OVER(PARTITION BY country_region) as row_num
        FROM `bigquery-public-data.covid19_jhu_csse.summary`
    )
    WHERE row_num <= 20
    ORDER BY country_region ASC
"""
rows = client.query(query).to_dataframe()
print(rows)

                      country_region  deaths
0                               None       0
1                         Azerbaijan       0
2                        Afghanistan     153
3                        Afghanistan    7699
4                        Afghanistan       0
...                              ...     ...
4378  occupied Palestinian territory       0
4379  occupied Palestinian territory       0
4380  occupied Palestinian territory       0
4381  occupied Palestinian territory       0
4382  occupied Palestinian territory       0

[4383 rows x 2 columns]

In [84]:
query = """
    SELECT country_region, deaths
    FROM (
        SELECT *,
            ROW_NUMBER() OVER(PARTITION BY country_region ORDER BY deaths DESC) as row_num
        FROM `bigquery-public-data.covid19_jhu_csse.summary`
    )
    WHERE row_num = 1
    ORDER BY country_region ASC
"""
rows = client.query(query).to_dataframe()
print(rows)

                     country_region  deaths
0                              None       0
1                        Azerbaijan       0
2                       Afghanistan    7896
3                           Albania    3598
4                           Algeria    6881
..                              ...     ...
248            Winter Olympics 2022       0
249                           Yemen    2159
250                          Zambia    4057
251                        Zimbabwe    5671
252  occupied Palestinian territory       0

[253 rows x 2 columns]