In [1]:
from google.cloud import bigquery

In [2]:
client = bigquery.Client()

c:\Users\kazek\AppData\Local\Programs\Python\Python312\Lib\site-packages\google\auth\_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [5]:
dataset_ref = client.dataset("covid19_jhu_csse", project="bigquery-public-data")

dataset = client.get_dataset(dataset_ref)

In [6]:
tables = list(client.list_tables(dataset))

for table in tables:  
    print(table.table_id)

confirmed_cases
deaths
recovered_cases
summary

In [17]:
confirmados = dataset_ref.table("confirmed_cases")
muertes = dataset_ref.table("deaths")
recuperados = dataset_ref.table("recovered_cases")
resumen = dataset_ref.table("summary")

tabla_confirmados = client.get_table(confirmados)
tabla_muertes = client.get_table(muertes)
tabla_recuperados = client.get_table(recuperados)
tabla_resumen = client.get_table(resumen)

In [18]:
table.schema

[SchemaField('province_or_state', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('country_or_region', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('latitude', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('longitude', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('location_geom', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_1_22_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_1_23_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_1_24_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_1_25_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_1_26_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_1_27_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_1_28_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_1_29_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_1_30_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_1_31_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_1_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_2_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_3_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_4_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_5_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_6_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_7_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_8_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_9_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_10_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_11_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_12_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_13_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_14_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_15_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_16_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_17_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_18_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_19_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_20_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_21_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_22_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_23_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_24_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_25_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_26_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_27_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_28_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_2_29_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_1_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_2_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_3_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_4_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_5_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_6_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_7_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_8_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_9_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_10_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_11_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_12_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_13_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_14_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_15_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_16_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_17_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_18_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_19_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_20_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_21_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_22_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_23_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_24_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_25_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_26_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_27_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_28_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_29_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_30_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_3_31_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_1_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_2_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_3_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_4_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_5_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_6_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_7_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_8_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_9_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_10_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_11_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_12_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_13_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_14_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_15_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_16_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_17_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_18_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_19_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_20_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_21_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_22_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_23_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_24_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_25_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_26_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_27_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_28_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_29_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_4_30_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_1_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_2_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_3_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_4_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_5_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_6_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_7_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_8_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_9_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_10_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_11_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_12_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_13_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_14_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_15_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_16_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_17_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_18_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_19_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_20_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_21_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_22_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_23_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_24_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_25_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_26_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_27_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_28_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_29_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_30_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_5_31_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_1_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_2_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_3_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_4_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_5_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_6_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_7_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_8_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_9_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_10_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_11_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_12_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_13_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_14_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_15_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_16_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_17_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_18_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_19_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_20_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_21_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_22_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_23_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_24_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_25_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_26_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_27_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_28_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_29_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_6_30_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_1_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_2_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_3_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_4_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_5_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_6_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_7_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_8_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_9_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_10_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_11_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_12_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_13_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_14_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_15_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_16_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_17_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_18_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_19_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_20_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_21_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_22_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_23_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_24_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_25_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_26_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_27_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_28_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_29_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_30_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_7_31_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_1_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_2_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_3_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_4_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_5_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_6_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_7_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_8_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_9_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_10_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_11_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_12_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_13_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_14_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_15_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_16_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_17_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_18_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_19_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_20_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_21_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_22_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_23_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_24_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_25_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_26_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_27_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_28_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_29_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_30_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_8_31_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_1_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_2_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_3_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_4_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_5_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_6_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_7_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_8_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_9_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_10_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_11_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_12_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_13_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_14_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_15_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_16_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_17_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_18_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_19_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_20_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_21_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_22_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_23_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_24_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_25_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_26_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_27_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_28_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_29_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_9_30_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_1_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_2_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_3_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_4_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_5_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_6_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_7_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_8_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_9_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_10_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_11_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_12_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_13_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_14_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_15_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_16_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_17_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_18_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_19_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_20_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_21_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_22_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_23_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_24_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_25_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_26_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_27_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_28_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_29_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_30_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_10_31_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_11_1_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_11_2_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_11_3_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_11_4_20', 'STRING', 'NULLABLE', None, '', (), None),
 SchemaField('_11_5_20', 'STRING', 'NULLABLE', None, '', (), None),

In [36]:
client.list_rows(tabla_confirmados, selected_fields =tabla_confirmados.schema[:5] + tabla_confirmados.schema[-3:] , max_results=5).to_dataframe()

,province_or_state,country_or_region,latitude,longitude,location_geom,_3_7_23,_3_8_23,_3_9_23
0,None,Antarctica,-71.9499,23.347,POINT(-71.9499 23.347),11,11,11
1,Diamond Princess,Canada,0.0,0.0,POINT(0.0 0.0),0,0,0
2,None,"Korea, North",40.3399,127.5101,POINT(40.3399 127.5101),1,1,1
3,None,Nauru,-0.5228,166.9315,POINT(-0.5228 166.9315),5247,5247,5247
4,Niue,New Zealand,-19.0544,-169.8672,POINT(-19.0544 -169.8672),791,791,792

In [37]:
client.list_rows(tabla_muertes, selected_fields =tabla_muertes.schema[:5] + tabla_muertes.schema[-3:] , max_results=5).to_dataframe()

,province_or_state,country_or_region,latitude,longitude,location_geom,_3_7_23,_3_8_23,_3_9_23
0,None,Antarctica,-71.9499,23.347,POINT(-71.9499 23.347),0,0,0
1,Northern Territory,Australia,-12.4634,130.8456,POINT(-12.4634 130.8456),90,90,91
2,Grand Princess,Canada,0.0,0.0,POINT(0.0 0.0),0,0,0
3,Northwest Territories,Canada,64.8255,-124.8457,POINT(64.8255 -124.8457),22,22,22
4,Prince Edward Island,Canada,46.5107,-63.4168,POINT(46.5107 -63.4168),93,93,93

In [43]:
client.list_rows(tabla_recuperados, selected_fields =tabla_recuperados.schema[:5] + tabla_recuperados.schema[-3:] , max_results=5).to_dataframe()

,province_or_state,country_or_region,latitude,longitude,location_geom,_3_7_23,_3_8_23,_3_9_23
0,None,Antarctica,-71.9499,23.347,POINT(-71.9499 23.347),0,0,0
1,Unknown,China,None,None,POINT(nan nan),0,0,0
2,None,Kiribati,-3.3704,-168.734,POINT(-3.3704 -168.734),0,0,0
3,None,"Korea, North",40.3399,127.5101,POINT(40.3399 127.5101),0,0,0
4,None,Nauru,-0.5228,166.9315,POINT(-0.5228 166.9315),0,0,0

In [74]:
client.list_rows(tabla_resumen, max_results=100000, selected_fields =tabla_resumen.schema[0:3] + tabla_resumen.schema[6:10]).to_dataframe()

,province_state,country_region,date,confirmed,deaths,recovered,active
0,South Dakota,US,2020-05-15,8,0,0,8
1,South Carolina,US,2020-05-15,501,10,0,491
2,Michigan,US,2020-05-15,13,1,0,12
3,Florida,US,2020-05-15,367,40,0,327
4,Virginia,US,2020-05-15,11,0,0,11
...,...,...,...,...,...,...,...
99995,Missouri,US,2021-12-07,1105,21,None,<NA>
99996,Missouri,US,2021-12-07,5642,100,None,<NA>
99997,Missouri,US,2021-12-07,3795,56,None,<NA>
99998,Missouri,US,2021-12-07,478,9,None,<NA>
99999,Missouri,US,2021-12-07,4321,100,None,<NA>

In [8]:
# Construct a reference to the "openaq" dataset
dataset_ref = client.dataset("openaq", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# List all the tables in the "openaq" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there's only one!)
for table in tables:  
    print(table.table_id)

global_air_quality

In [9]:
# Construct a reference to the "global_air_quality" table
table_ref = dataset_ref.table("global_air_quality")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "global_air_quality" table
client.list_rows(table, max_results=5).to_dataframe()

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,"Borwiec, ul. Drapaka",Borwiec,PL,bc,0.85217,2022-04-28 07:00:00+00:00,g/m,GIOS,1.0,52.276794,17.074114,POINT(52.276794 1)
1,"Krakw, ul. Bulwarowa",Krakw,PL,bc,0.91284,2022-04-27 23:00:00+00:00,g/m,GIOS,1.0,50.069308,20.053492,POINT(50.069308 1)
2,"Pock, ul. Reja",Pock,PL,bc,1.41000,2022-03-30 04:00:00+00:00,g/m,GIOS,1.0,52.550938,19.709791,POINT(52.550938 1)
3,"Elblg, ul. Bayskiego",Elblg,PL,bc,0.33607,2022-05-03 13:00:00+00:00,g/m,GIOS,1.0,54.167847,19.410942,POINT(54.167847 1)
4,"Piastw, ul. Puaskiego",Piastw,PL,bc,0.51000,2022-05-11 05:00:00+00:00,g/m,GIOS,1.0,52.191728,20.837489,POINT(52.191728 1)

In [10]:
# Query to select all the items from the "city" column where the "country" column is 'US'
query = """
        SELECT city
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """